// 头部搜索
.header-search {
  display: flex;

  .store {
    .store-text {
      display: inline-block;
      vertical-align: middle;
      line-height: 44px;
      height: 44px;
      padding-left: 10px;
      color: #fff;
    }

    .triangle-icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-left: 5px;
      vertical-align: middle;
      background-size: 100%;
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTU0ODg1MDMwOTQ5IiBjbGFzcz0iaWNvbiIgc3R5bGU9IiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjIxODgiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PC9zdHlsZT48L2RlZnM+PHBhdGggZD0iTTUxMS45OTk0ODggODE5LjQxMzQ2MiA3Mi44Mzc0IDIwNC41ODY1MzggOTUxLjE2MjYgMjA0LjU4NjUzOFoiIHAtaWQ9IjIxODkiIGZpbGw9IiM5OTk5OTkiPjwvcGF0aD48L3N2Zz4=");
      transition: transform 0.3s;

      &.active {
        transform: rotate(-180deg);
      }
    }
  }

  .search-wrapper {
    flex: 1;
    height: 44px;

    .van-search {
      padding-left: 10px;
    }

    .field-index--van-field {
      background-color: #f6f6f6;
    }
  }
}

.mask-all {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}


// 带小图标的副标题
.subtitle {
  padding: 10px 5px;
  background-color: #fff;

  .screening-icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;

    .subtitle-text {
      font-size: 16px;
      font-weight: bold;
      line-height: 25px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

// 工作台那种 上图标下文字 一排
.icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;

  .icon-item {
    width: 25%;
    text-align: center;
    padding: 5px 0;

    >image {
      width: 24px;
      height: 24px;
    }
  }
}

// 左文字 右操作/文字
.item-cell {
  display: flex;
  line-height: 36px;
  height: 36px;

  .cell-left {
    flex-basis: auto;
    padding: 0 15px;
  }

  .cell-right {
    flex: 1;
    display: flex;

    >div {
      flex: 1;
    }
  }
}


// vant-radio 单选 同一行
.radio-group {
  border: 1rpx solid #eee;
}

.radio {
  display: inline-block;
  margin: 10px 5px;
}
