@pageColor: #fff;

// 头部搜索
.header-search {
  display: flex;
  .search-wrapper {
    flex: 1;
    padding: 0;
    height: 44px;
    .van-search {
      padding-left: 10px;
    }
    .field-index--van-field {
      background-color: #f6f6f6;
    }
  }
}

.van-loading {
  display: block !important;
  margin: 0 auto;
  margin-top: 20px;
}

.mask-all {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}


// 带小图标的副标题
.subtitle {
  padding: 10px 5px;
  background-color: #fff;

  .screening-icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;

    .subtitle-text {
      font-size: 16px;
      font-weight: bold;
      line-height: 25px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

// 工作台那种 上图标下文字 一排
.icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;

  .icon-item {
    width: 25%;
    text-align: center;
    padding: 5px 0;

    >image {
      width: 24px;
      height: 24px;
    }
  }
}

// 左文字 右操作/文字
.item-cell {
  display: flex;
  padding: 10px 15px;
  line-height: 24px;
  box-sizing: border-box;
  .cell-left {
    flex-basis: auto;
    flex: 1;
  }

  .cell-right {
    flex: 1;
    text-align: right;
    display: flex;
    color: #999;
    >div {
      flex: 1;
    }
  }
}


// vant-radio 单选 同一行
.radio-group {
  border: 1rpx solid #eee;
}

.radio {
  display: inline-block;
  margin: 10px 5px;
}


.fixed-bottom-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 46px;
  text-align: center;
  color: #fff;
}

.no-more {
  text-align: center;
  margin: 10px 0;
  padding-bottom: 10px;
  color: #999;
  font-size: 12px;
}

.list-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

// 修改金额弹窗样式 

.van-stepper {
  display: flex;
  .van-stepper__input-wrapper {
    flex: 1;
  }
}

.modify-price {
  padding: 15px;
  .modify-title {
    font-size: 16px;
    font-weight: bold;
  }
  .modify-middle {
    margin: 15px auto;
  }
  .modify-btn {
    display: flex;
    >div {
      flex: 1;
      margin: 0 2px;
      line-height: 36px;
      text-align: center;
      border-radius: 5px;
      color: #fff;
    }
  }
}

// 列表统一样式
.common-list {
  margin: 0 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 7px 0px rgba(1, 60, 97, 0.1);
}

// 骨架屏
.coach-skeleton {
  display: flex;
  padding: 10px 15px 10px 0;
  border-bottom: 1rpx solid #f6f6f6;
  .cover {
    flex: 0 0 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    margin-left: 10px;
  }
  .skeleton-wrapper {
    padding: 0 12px;
    width: 100%;
    > div {
      margin-top: 12px;
      background-color: #eee;
    }
    .skeleton-name {
      margin-top: 4px;
      height: 16px;
    }
    .skeleton-time {
      height: 12px;
      width: 200px;
    }
    .skeleton-desc {
      height: 10px;
      width: 100px;
      margin-right: 10px;
    }
  }
}

.bottom-operate-btn {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-top: 1rpx solid #f6f6f6;
  background-color: #fff;
  &.active {
    opacity: 1;
  }
  .operate-item {
    flex: 1;
    font-size: 14px;
    line-height: 36px;
    color: #fff;
    border-right: 1rpx solid #f6f6f6;
    &:last-of-type {
      border-right: none;
    }
    &.hidden {
      display: none;
    }
  }
  .block {
    flex-grow: 1;
    width: 100%;
  }
}

.shadow-block-item {
  margin: 10px;
  box-shadow: 0px 2px 7px 0px rgba(1, 60, 97, 0.1);
  border-radius: 5px;
  background-color: #fff;
}